tunnel: <%= assigns[:tunnel_id] %>
credentials-file: <%= assigns[:credentials_path] %>/<%= assigns[:tunnel_id] %>.json

ingress:
  - hostname: <%= assigns[:hostname] %>
    service: http://localhost:4000
  - service: http_status:404
